<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

    <!-- Input arguments -->
    <arg name="argID"               default="0"/>
    <arg name="argVehicle"          default="heifu"/>
    <arg name="argNamespace"        default="$(arg argVehicle)$(arg argID)"/>

    <arg name="argPlannerType"      default="1"/>

    <arg name="argGoalTolerance"    default="2.0"/>
    <arg name="argSafetyDistance"   default="2.0"/>

    <arg name="argNodeletManager"   default="GPUVoxelsROS_manager_nodelet"/>

    <!-- Launch Collision Avoidance node -->
    <include file="$(find collision_avoidance)/launch/CollisionAvoidance_nodelets.launch">
        <arg name="argNamespace"        value="$(arg argNamespace)"/>
        <arg name="argSafetyDistance"   value="$(arg argSafetyDistance)"/>
        <arg name="argNodeletManager"   value="$(arg argNodeletManager)"/>
    </include>

    <!-- Launch Planners node -->
    <include file="$(find planners_manager)/launch/Planners_Manager_nodelets.launch">
        <arg name="argNamespace"        value="$(arg argNamespace)"/>
        <arg name="argPlannerType"      value="$(arg argPlannerType)"/>
        <arg name="argGoalTolerance"    value="$(arg argGoalTolerance)"/>
        <arg name="argNodeletManager"   value="$(arg argNodeletManager)"/>
    </include>

    <!-- Launch Navigation controller-->
    <include file="$(find gpu_voxels_ros)/launch/GPUVoxelROS_nodelets.launch">
        <rosparam file="$(find gpu_voxel_ros)/config/GPU-Voxels.yaml"/>

        <arg name="argNodeletManager"       value=""/>
    </include>

</launch>
