[submodule "control"]
	path = control
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/control.git
    branch = master
[submodule "interface"]
	path = interface
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/interface.git
    branch = master
[submodule "sensing"]
	path = sensing
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/sensing.git
    branch = master
[submodule "perception"]
	path = perception
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/perception.git
    branch = master
[submodule "autonomous-operation"]
	path = autonomous-operation
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/autonomous-operation.git
    branch = master
[submodule "utils"]
	path = utils
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/utils.git
    branch = master
[submodule "actuators"]
	path = actuators
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/actuators.git
    branch = master
