<launch>
	<!-- Input arguments -->
	<arg name="argID"               default="0"/>
	<arg name="argTargetFrame"      default="base_link"/>
	<arg name="argSourceFrame"      default="odom"/>
	<arg name="argNodeRate"         default="100.0"/>
	<arg name="argNamespace"        default="heifu$(arg argID)"/>
	<arg name="argVehicle"          default="$(arg argNamespace)"/>
	<arg name="argPlannerType"      default="2"/>
	<arg name="argGoalTolerance"    default="1.0"/>

	<!-- Launch mavros node -->
	<node name="PlannersManager_node" type="planners_manager_node" pkg="planners_manager" output="screen" required="true" ns="$(arg argNamespace)">
		<param name="paramTargetFrame"      type="string" value="$(arg argNamespace)/$(arg argTargetFrame)"	/>
		<param name="paramMapFrameId"       type="string" value="$(arg argNamespace)/$(arg argSourceFrame)"	/>

		<param name="paramNodeRate"         type="double" value="$(arg argNodeRate)"/>
		<param name="paramGoalTolerance"    type="double" value="$(arg argGoalTolerance)"/>

		<param name="paramPlannerType"      type="int" value="$(arg argPlannerType)"/>

		<rosparam param="paramRobotSize"		>[ 1.0,  1.0,  1.0]</rosparam>
		<rosparam param="paramWorkspaceSize"	>[20.0, 20.0, 10.0]</rosparam>
		<rosparam param="paramWorkspaceCenter"	>[ 5.0,  0.0,  0.0]</rosparam>

		<rosparam file="$(find rrt)/config/params.yaml" if="$(eval arg('argPlannerType') == 1)"/>

		<rosparam file="$(find prm)/config/params.yaml" if="$(eval arg('argPlannerType') == 2)"/>
	</node>
</launch>
