<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

    <!-- Input arguments -->
    <arg name="argID"        default="0"/>
    <arg name="argVehicle"   default="heifu"/>
    <arg name="argNamespace" default="$(arg argVehicle)$(arg argID)"/>

    <arg name="argSimulation"   default="false"/>
    <arg name="argGimbal"       default="true"/>
    <arg name="argEndpoint"     default="preprod"/>
    <arg name="argCamType"      default="default"/>
    <arg name="argEnableNFZ"    default="true"/>
    <arg name="argJetson"       default="false"/>

    <!-- Launch waypoints manager node -->
    <include file="$(find waypoints_manager)/launch/waypoints_manager.launch">
        <arg name="argNamespace"   value="$(arg argNamespace)"/>
    </include>

    <!-- Launch heifu control node -->
    <include file="$(find control_bringup)/launch/heifu_control.launch">
        <arg name="argID"           value="$(arg argID)"/>
        <arg name="argNamespace"    value="$(arg argNamespace)"/>
        <arg name="argSimulation"   value="$(arg argSimulation)"/>
    </include>

    <!-- Launch GCS Interface -->
    <include file="$(find gcs_interface)/launch/gcs_interface.launch">
        <arg name="argNamespace"    value="$(arg argNamespace)"/>
        <arg name="argEndpoint"     value="$(arg argEndpoint)"/>
        <arg name="argCamType"      value="$(arg argCamType)"/>
        <arg name="argEnableNFZ"    value="$(arg argEnableNFZ)"/>
        <arg name="argJetson"       value="$(arg argJetson)"/>
    </include>

    <!-- Launch Gimbal control -->
    <include file="$(find gimbal)/launch/gimbal.launch" if="$(arg argGimbal)">
        <arg name="argNamespace"    value="$(arg argNamespace)"/>
    </include>
</launch>
