<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

    <!-- Input arguments -->
    <arg name="argID"           default="0"/>
    <arg name="argVehicle"      default="heifu"/>
    <arg name="argNamespace"    default="$(arg argVehicle)$(arg argID)"/>
    <arg name="argCamera"       default="default"/>
    <arg name="argEndpoint"     default="newpreprod"/>

    <!-- Input arguments -->
    <node name="gStreamer_node" type="runGStreamer.py" pkg="gstreamer" output="screen" args="-c $(arg argCamera) -e $(arg argEndpoint)" ns="$(arg argNamespace)">
    </node>
</launch>
