[submodule "waypoints-manager"]
	path = waypoints-manager
	url = git@gitlab.pdmfc.com:drones/ros1/autonomous-operation/waypoints-manager.git
[submodule "rrt"]
	path = rrt
	url = git@gitlab.pdmfc.com:drones/ros1/planners/rrt.git
[submodule "planners_manager"]
	path = planners_manager
	url = git@gitlab.pdmfc.com:drones/ros1/planners/planners_manager.git
[submodule "planner"]
	path = planner
	url = git@gitlab.pdmfc.com:drones/ros1/planners/planner.git
[submodule "collision_avoidance"]
	path = collision_avoidance
	url = git@gitlab.pdmfc.com:drones/ros1/planners/collision_avoidance.git
