Source: ros-melodic-heifu-bringup
Section: misc
Priority: optional
Maintainer: Fábio Azevedo <fabio.azevedo@beyond-vision.pt>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-heifu-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-heifu-description, ros-melodic-heifu-mavros, ros-melodic-heifu-msgs, ros-melodic-heifu-safety, ros-melodic-heifu-tools
Description: Heifu is a ROS driver for PDMFC and BEV drone
