<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

    <!-- Input arguments -->
    <arg name="argID"           default="0"/>
    <arg name="argVehicle"      default="heifu"/>
    <arg name="argNamespace"    default="$(arg argVehicle)$(arg argID)"/>
    <arg name="argEndpoint"     default="newpreprod"/>
    <arg name="argCamType"      default="default"/>
    <arg name="argEnableNFZ"    default="true"/>
    <arg name="argJetson"       default="false"/>

    <arg name="argIsJetson"    default="" unless="$(eval arg('argJetson'))"/>
    <arg name="argIsJetson"    default=" --jetson" if="$(eval arg('argJetson'))"/>
    <arg name="argNeedsEnableNFZ"   default="" unless="$(eval arg('argEnableNFZ'))"/>
    <arg name="argNeedsEnableNFZ"   default=" --nfz" if="$(eval arg('argEnableNFZ'))"/>
    <arg name="argExtraArgs" default="$(arg argIsJetson)$(arg argNeedsEnableNFZ)"/>

    <!-- for multiple drones/interfaces add the arg -co $(arg argNamespace) -->
    <node name="gcs_interface_node" type="interface.py" pkg="gcs_interface" output="screen" args="-n $(arg argNamespace) -e $(arg argEndpoint) -c $(arg argCamType) $(arg argExtraArgs)" respawn="true" ns="$(arg argNamespace)">
    </node>
</launch>

