<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

    <!-- Input arguments -->
    <arg name="argID"        default="0"/>
    <arg name="argVehicle"   default="heifu"/>
    <arg name="argNamespace" default="$(arg argVehicle)$(arg argID)"/>

    <arg name="argSimulation" default="false"/>
    <arg name="argFCUURL"     default="/dev/ttyACM0:57600" unless="$(arg argSimulation)"/> <!-- JETSON NANO USES /dev/ttyTHS1:921600 -->
    <arg name="argGCSURL"     default=""                   unless="$(arg argSimulation)"/>

    <!-- If SITL -->
    <arg name="fcu_udp_addr" value="$(eval 14550 + 10*arg('argID'))"/>
    <arg name="argFCUURL"    default="udp://:$(arg fcu_udp_addr)@" if="$(arg argSimulation)"/>

    <arg name="gcs_udp_addr" value="$(eval 14551 + 10*arg('argID'))"/>
    <arg name="argGCSURL"    default="udp://:$(arg gcs_udp_addr)@" if="$(arg argSimulation)"/>

    <!-- Launch mavros commands node -->
    <include file="$(find mavros_commands)/launch/mavros_commands.launch">
        <arg name="argNamespace"    value="$(arg argNamespace)"/>
    </include>

    <!-- Launch mavros node -->
    <include file="$(find control_bringup)/launch/apm.launch">
        <arg name="argNamespace"   value="$(arg argNamespace)"/>
        <arg name="fcu_url"        value="$(arg argFCUURL)" />
<!--        <arg name="gcs_url"        value="$(arg argGCSURL)" />-->
        <arg name="tgt_system"     value="$(eval 1 + arg('argID') * arg('argSimulation'))"/>
        <arg name="respawn_mavros" value="true" />
    </include>

    <!-- Launch Navigation controller-->
    <arg name="argPosError"     default="2.0"/>
    <include file="$(find navigation_controller)/launch/navigation_controller.launch">
        <arg name="argNamespace"        value="$(arg argNamespace)"/>
        <arg name="argPosError"  value="$(arg argPosError)"/>
    </include>

    <!-- Launch Priority manager-->
    <include file="$(find priority_manager)/launch/priority_manager.launch">
        <arg name="argNamespace"        value="$(arg argNamespace)"/>
    </include>

    <include file="$(find status_diagnostic)/launch/status_diagnostic.launch">
        <arg name="argNamespace"        value="$(arg argNamespace)"/>
    </include>

    <!-- Launch velocity multiplexer node -->
<!--    <include file="$(find twist_mux)/launch/twist_mux.launch">
        <arg name="argID"        value="$(arg argID)"/>
        <arg name="argVehicle"   value="$(arg argVehicle)"/>
        <arg name="argOutVel"    value="mavros/setpoint_velocity/cmd_vel"/>
    </include>-->

    <!-- diagnostic + battery -->
    <!-- simple_waypoint -->
    <!-- heifu -->
    <!--raspberry -->
    <!--TF camera -->

</launch>
