<?xml version="1.0" ?>
<launch>
    <!-- Input arguments -->
    <arg name="argJoyDev"       default="/dev/input/js0" />
    <arg name="argJoyConfig"    default="xbox360_gimbal" />
    <arg name="argTeleopConfig" default="$(find gimbal)/config/$(arg argJoyConfig).yaml" />
    <arg name="argNamespace"    default="" />

    <!-- Read joystick configuration -->
    <group ns="$(arg argNamespace)">
        <rosparam file="$(arg argTeleopConfig)" command="load" />
    </group>

    <!-- Launch joystick interface -->
    <node pkg="joy" type="joy_node" name="joy_node" ns="$(arg argNamespace)">
        <param name="dev"             type="string" value="$(arg argJoyDev)" />
        <param name="deadzone"        type="double" value="0.15" />
        <param name="autorepeat_rate" type="double" value="20" />
    </node>

    <!-- Convert message types -->
    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop" ns="$(arg argNamespace)" />

</launch>
