<?xml version="1.0"?>
<launch>
    <arg name="argID"               default="0"/>
    <arg name="argVehicle"          default="heifu"/>
    <arg name="argNamespace"        default="$(arg argVehicle)$(arg argID)"/>
    <arg name="argVehicleType"      default="0"/> <!--0 - Hexacopter; 1 - HVTOL-->
    <arg name="argAutopilotType"    default="0"/> <!--0 - ArduPilot; 1 - PX4-->

    <arg name="argNodeRate"         default="100.0"/>
    <arg name="argConvertedTopic"   default="/gnss_utils/converted_coordinates"/>

    <node name="waypoints_manager_node" type="waypoints_manager_node" pkg="waypoints_manager" output="screen" required="true" ns="$(arg argNamespace)">
        <param name="paramNodeRate"         type="double" value="$(arg argNodeRate)"/>
        <param name="paramVehicleType"      type="double" value="$(arg argVehicleType)"/>
        <param name="paramAutopilotType"    type="double" value="$(arg argAutopilotType)"/>

        <param name="paramSubConvertedGoalPoint"    type="string" value="$(arg argConvertedTopic)"/>
    </node>

    <include file="$(find gnss_utils)/launch/LLA2ENU_MavROS.launch">
        <arg name="argID"           value="$(arg argID)"/>
        <arg name="argVehicle"      value="$(arg argVehicle)"/>
        <arg name="argNamespace"    value="$(arg argNamespace)"/>
        <arg name="argTopic"        value="$(arg argConvertedTopic)"/>
    </include>

</launch>
